node_modules
.DS_Store
.env
.env.local
coverage
dist
*.log
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/dev.db
apps/api/dev.db-journal
apps/api/prisma/test.db
apps/api/prisma/test.db-journal
